.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  height: 3.5rem;
  padding: 1rem 1rem;
}
.header a {
  text-decoration: none;
}
.header h2 {
  padding: 0rem 1rem;
  color: whitesmoke;
}
.header span {
  color: orange;
}
